.home {
    background-color: #80808014;
    min-height: 100vh;
}

.home-title {
    background-color: #7fe5ffd4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2px;
    width: 950px;
    border-radius: 15px;
}

.carousel {
    width: 950px;
    height: 580px;
}

.invent {
    width: 950px;
    margin-top: 40px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    font-weight: bold;
    background-color: #e5ff7f80;
    border-radius: 15px;
}

.products-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* making products-section responsive */
@media only screen and (max-width:576px) {
    .products-cont {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .products-cont {
        grid-template-columns: repeat(2, 1fr);
    }
}