.home {
    background-color: #80808044;
    min-height: 100vh;
}

.home h2 {
    background-color: #7fe5ffd4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2px;
    width: 950px;
    border-radius: 15px;
}

.carousel {
    width: 950px;
}